<html>
  <head>
    <title>Todo Manager 0.0.10</title>
  </head>

  <body ng-app="todoApp">
    <div class="container" ng-controller="TodoController as vm">
    <div class="jumbotron">
      <div class="row">
        <!-- Clock & Date -->
        <div class="col-md-2">
          <div class="row">
            <ds-widget-clock show-analog theme="dark"></ds-widget-clock>
            <ds-widget-clock theme="dark" show-digital theme="blue-light" digital-format="'hh:mm:ss a'" style="font-size:7px;"></ds-widget-clock>
            <div style="text-align:center; font-size:17px;">{{vm.date}}</div>
          </div>
        </div>
        <!-- Title -->
        <div class="col-md-8" style="text-align:center;">
          <div class="row">
            <h1>
              Todo Manager
            </h1>
          </div>
        </div>
        <!-- Todo Count -->
        <div class="col-md-2">
          <div class="row">
            <h3>
              <div style="text-align:center; position:relative; top:30px;">
                Current Todos:
              </div>
            </h3>
          </div>
          <div class="row">
            <h1>
              <div style="text-align:center; position:relative; top:42px;">
                <span class="label label-default">{{vm.todos.length}}</span>
              </div>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <!-- Date Picker -->
        <input date-range-picker class="form-control date-picker" options="vm.options" type="text" ng-model="vm.datePicker.date"/>
        <!-- Search Filter -->
        <nit-advanced-searchbox ng-model="vm.searchParams" placeholder="Search..."></nit-advanced-searchbox>

        <!-- Summary Accordion -->
        <uib-accordion close-others="oneAtATime">
          <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" heading="Static Header, initially expanded">
            <uib-accordion-heading>
              <span style="font-size:12px;">
                <time>{{vm.datePicker.date.startDate | amDateFormat:'DD/MM/YYYY'}}</time>
                -
                <time>{{vm.datePicker.date.endDate | amDateFormat:'DD/MM/YYYY'}}</time>
                Summary
              </span>
              <i class="pull-right" style="font-size:12px;" ng-class="{'fa fa-arrow-down': status.isCustomHeaderOpen, 'fa fa-arrow-right': !status.isCustomHeaderOpen}"></i>
            </uib-accordion-heading>
            <span ng-if="vm.todos.length > 0">
              Tasks Completed: {{completedTodos.length}}/{{vm.todos.length}}
              </br>
              Average Difficulty: {{vm.calculateAverage(vm.todos) | number: 2}} Stars
              </br>
              Most Common Tag: MEAN
              </br>
            </span>
            <span ng-if="vm.todos.length === undefined || vm.todos.length == 0">
              No todos for the date selected.
            </span>

          </div>
        </uib-accordion>

        <!-- Debugging -->
        <pre style="height:500px;">{{vm.todos | json}}</pre>
        <pre style="height:500px;">{{vm.formData | json}}</pre>

      </div>
      <div class="col-xs-9">
        <div class="row">

          Todos

          <!--Not Completed Todos-->
          <div ng-repeat="todo in vm.todos | filter:{completed:false}" class="row" style="padding:5px;">

            

            <!-- Main Todo & Todo Edit Fields -->
            <div class="col-xs-9">

              <!-- Todo Field -->
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-fw fa-file-text" aria-hidden="true"></i>
                </span>
                <input class="form-control" type="text" ng-model="todo.text" ng-disabled="!todo.editing" placeholder="Write your task here" ng-minlength="1" required></input>
                <span class="input-group-addon" ng-if="todo.text.$dirty && todo.text.addTodoText.required">
                  <i class="fa fa-fw fa-exclamation" aria-hidden="true"></i>
                </span>
              </div>

              <!-- Tags Field -->
              <div class="input-group" style="width:100%">
                <span class="input-group-addon">
                  <i class="fa fa-fw fa-tags" aria-hidden="true"></i> 
                </span> 
                <tags-input ng-model="todo.tags" ng-disabled="!todo.editing" class="ti-input-md" use-strings="true" min-length="1">
                </tags-input>
              </div>

              <!-- Ratings Field-->
              <div data-angular-rating-icons ng-model="todo.difficulty"></div> {{!todo.editing}}
            </div>

            <!-- Buttons & Dates -->
            <div class="col-xs-3">
              <div class="btn-group btn-group-justified">
                <a type="button" style="font-size: 12px;" ng-if="todo.editing == false" class="btn btn-success" ng-click="vm.invertEdit(todo.editing)">Edit</a>
                <a type="button" style="font-size: 12px;" ng-if="todo.editing == true" class="btn btn-default" ng-click="todo.editing = false" ng-click="updateTodo(todo._id, todo.text, todo.difficulty)">Finish Update</a>
                <a type="button" style="font-size: 12px;" class="btn btn-danger" ng-click="vm.deleteTodo(todo._id)">Delete</a>
              </div>
              <a type="button" ng-click="vm.completeTodo(todo._id)" style="width:100%;" class="btn btn-success">Complete</a>
              <span>Date Created: {{todo.dateInformation.dateCreated | amDateFormat:'DD/MM/YYYY'}}<span>
              </br>
              <span>Date Modified: {{todo.dateInformation.dateModified | amDateFormat:'DD/MM/YYYY'}}</span>
              </br>
              <span>Date Initially Completed: {{todo.dateInformation.dateCompleted | amDateFormat:'DD/MM/YYYY'}}</span>
            </div>
          </div>
          <!--Add New Todo-->
          <div class="row">
            <div class="col-xs-9">
              <form name="addTodo">

                <!-- Add Todo Field -->
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-file-text" aria-hidden="true"></i>
                  </span>
                  <input name="addTodoText" class="form-control" type="text" ng-model="vm.formData.text" ng-minlength="1" required></input>
                  <span class="input-group-addon" ng-if="addTodo.addTodoText.$dirty && addTodo.addTodoText.$error.required">
                    <i class="fa fa-fw fa-exclamation" aria-hidden="true"></i>
                  </span>
                </div>
                <!--<span class="error" ng-if="addTodo.addTodoText.$dirty && addTodo.addTodoText.$error.required">Required!</span><br>
                <span class="error" ng-if="addTodo.addTodoText.$error.minlength">You need to add some text before submitting something todo!</span><br>-->

                <!-- Add Tags Field -->
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-tags" aria-hidden="true"></i> 
                  </span> 
                  <tags-input ng-model="vm.formData.tags" class="ti-input-md" use-strings="true" min-length="1">
                  </tags-input>
                </div>

                <!-- Add Ratings Field-->
                <div data-angular-rating-icons ng-model="vm.formData.difficulty"></div>

              </form>


            </div>
            <div class="col-xs-3">
              <button class="btn btn-primary btn-group-justified" type="button" ng-click="vm.createTodo(vm.formData)" ng-disabled="vm.formData.text.length < 1 || vm.formData.text === undefined"> <i class="fa fa-check"></i>Add</button>
            </div>
          </div>

          <span>Completed Todos</span>

          <!-- Completed Todos -->
          <div ng-repeat="todo in vm.todos | filter:{completed:true} as completedTodos" class="row" style="padding:5px;">

            <!-- Main Todo & Todo Edit Fields -->
            <div class="col-xs-9">

              <!-- Todo Field -->
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-fw fa-file-text" aria-hidden="true"></i>
                </span>
                <input class="form-control" type="text" ng-model="todo.text" placeholder="Write your task here" ng-minlength="1" ng-disabled="{{!todo.editing}}" required></input>
                <span class="input-group-addon" ng-if="todo.text.$dirty && todo.text.addTodoText.required">
                  <i class="fa fa-fw fa-exclamation" aria-hidden="true"></i>
                </span>
              </div>

              <!-- Tags Field -->
              <div class="input-group" style="width:100%">
                <span class="input-group-addon">
                  <i class="fa fa-fw fa-tags" aria-hidden="true"></i> 
                </span> 
                <tags-input ng-model="todo.tags" class="ti-input-md" ng-disabled="!todo.editing" use-strings="true" min-length="1">
                </tags-input>
              </div>

              <!-- Ratings Field-->
              <div data-angular-rating-icons readonly="!todo.editing" ng-model="todo.difficulty"></div>
            </div>

            <!-- Buttons & Dates -->
            <div class="col-xs-3">
              <div class="btn-group btn-group-justified">
                <a type="button" class="btn btn-success" ng-click="vm.updateTodo(todo._id, todo.text, todo.difficulty)">Update</a>
                <a type="button" class="btn btn-danger" ng-click="vm.deleteTodo(todo._id)">Delete</a>
              </div>
              <a type="button" style="width:100%;" ng-disabled="{{!todo.editing}}" ng-submit="vm.completeTodo(todo._id)" class="btn btn-success">Complete</a>
              <span>Date Created: {{todo.dateInformation.dateCreated | amDateFormat:'DD/MM/YYYY'}}<span>
              </br>
              <span>Date Modified: {{todo.dateInformation.dateModified | amDateFormat:'DD/MM/YYYY'}}</span>
              </br>
              <span>Date Initially Completed: {{todo.dateInformation.dateCompleted | amDateFormat:'DD/MM/YYYY'}}</span>
            </div>
          </div>



        </div>
      </div>
    </div>

    <script src="build/bundle.js"></script>
    <script src="build/build.min.js"></script>
  </body>

</html>